<div class="text-center">
    <h1>Complete los datos del periodo</h1>
</div>
<div class="w-50 p-3 mx-auto">
    <form>
        <div class="form-group row">
            <label for="inputDuracion" class="col-sm-2 col-form-label">Duracion</label>
            <div class="col-sm-10">
                <input class="form-control" type="time" id="inputDuracion" placeholder="Duracion">
            </div>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="publicidad">
            <label class="form-check-label" for="inlineRadio1">Publicidad</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                value="temaMusical">
            <label class="form-check-label" for="inlineRadio2">Tema musical</label>
        </div>

        <div class="w-50 p-3 mx-auto">
            <div class="form-group row text-center">
                <div class="col-sm-10 mx-auto">
                    <button type="button" class="btn btn-danger">Cancelar</button> &nbsp;
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </div>
        <!--(click)="onPeriodo()-->      
    </form>
</div>
