<h1 class="text-center">Listado de locutores</h1>
<table class="table table-bordered table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Mail</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of locutores; index as i">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.dni}}</td>
            <td>{{item.email}}</td>
            <td>
                <button type="button" class="btn btn-primary">Detalle</button> &nbsp;
                <button [routerLink]="'/modificar-locutor'" type="button" class="btn btn-success">Editar</button>
                &nbsp;
                <button (click)=onDelete(item.id) type="button" class="btn btn-danger">Eliminar</button> &nbsp;
            </td>
        </tr>
    </tbody>
</table>